.chat-container {
  margin: 10px 50px;
  padding: 15px;
  border: 1px solid black;
}

@media (max-width: 767px) {
  .chat-container {
    margin: 10px 0;
  }
}

.chat-name {
  margin-left: 8px;
}

.is-admin {
  color: darkred;
}

app-image {
  margin-bottom: 4px;
  height: 30px;
  display: inline-block;
}

.chat-values {
  min-height: 100px;
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.time-stamp {
  color: grey;
}

.delete-chat {
  color: #ffb3b3;
}
