<div class="chat-container">
  <h1><i class="far fa-comments"></i>&nbsp;Chat</h1>

  <div class="chat-values" #chatValues>
    <ng-template ngFor let-chatId [ngForOf]="chatIds">
      <div>
        <app-image
          *ngIf="chats[chatId].user?.hasProfileImage"
          [target]="'/api/user/profile/' + chats[chatId].user.id"
          imgStyle="width: 30px; border-radius: 4px;"
        ></app-image>
        <b class="chat-name" [class.is-admin]="chats[chatId].user.isAdmin"
          >{{ chats[chatId].user.name }}
          <small class="text-mutes" *ngIf="chats[chatId].user.family"
            >({{ chats[chatId].user.family.name }})</small
          ></b
        >:&nbsp;{{ chats[chatId].value }}
        <span class="time-stamp">{{ renderTimeAgo(chats[chatId]) }}</span>
      </div>
    </ng-template>
  </div>
  <form class="chat-controls" (ngSubmit)="sendChat()">
    <div class="input-group mb-3">
      <input
        type="search"
        class="form-control"
        name="chatValue"
        autocomplete="off"
        [(ngModel)]="chatValue"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">
          <i class="far fa-comment-dots"></i>
        </button>
      </div>
    </div>
  </form>
</div>
