p {
  margin-left: 9px;
}

.family {
  color: #707070;
}

.me {
  font-weight: bold;
}

th {
  width: 30px;
}

.family-scoring {
  margin-bottom: 20px;

  .fa-chevron-right {
    transition: transform 600ms;
  }

  .family-scoring-details {
    transition: height 600ms;
  }

  &.family-scoring-open {
    .fa-chevron-right {
      transform: rotate(90deg);
    }
  }

  &:not(.family-scoring-open) {
    .family-scoring-details {
      height: 0;
      overflow: hidden;
    }
  }
}
