:host {
  height: 100%;
  margin: 10px 0;
  margin-bottom: 200px;
  display: block;
}

.admin-only {
  padding: 8px;
  border: 1px black solid;

  .btn {
    margin-left: 8px;
  }
}

.share-facebook,
.share-twitter,
.share-native {
  margin-right: 5px;
  padding: 5px;
  min-width: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.share-facebook {
  color: white;
  background-color: #3b5998;
}

.share-twitter {
  color: white;
  background-color: #00acee;
}

.share-native {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
