<form (ngSubmit)="registerUser()" novalidate>
  <fieldset [disabled]="loading">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="username"
        autocomplete="username"
        placeholder="Pick a username"
      />
      <small class="form-text text-muted"
        ><app-valid-text
          [valid]="usernameValid()"
          text="Must be 4 characters long."
        ></app-valid-text>
      </small>
    </div>
    <div class="form-group">
      <label for="family">Family Name (Team Name)</label>
      <input
        type="search"
        class="form-control"
        id="family"
        name="family"
        [(ngModel)]="family"
        placeholder="Pick a family name or create a new one"
        autocomplete="false"
        [ngbTypeahead]="searchFamilies"
      />
      <small class="form-text text-muted"
        ><app-valid-text
          [valid]="familyValid()"
          text="Must be 4 characters long."
        ></app-valid-text>
      </small>
      <small class="form-text text-muted"
        >You <b>cannot</b> change teams after registering.</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="password"
        autocomplete="new-password"
        placeholder="Pick a password"
      />
      <small class="form-text text-muted"
        >Do <b>not</b> use the same password as your bank, pin number,
        etc.</small
      >
      <small class="form-text text-muted"
        ><app-valid-text
          [valid]="passwordValid()"
          text="Must be 4 characters long."
        ></app-valid-text>
      </small>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        autocomplete="new-password"
        placeholder="Repeat that password"
      />
      <small class="form-text text-muted"
        >Do <b>not</b> forget your password. There is no way to reset it.</small
      ><small class="form-text text-muted"
        ><app-valid-text
          [valid]="confirmPasswordValid()"
          text="Passwords must match."
        ></app-valid-text>
      </small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formValid()">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm"
        role="status"
      ></span
      >&nbsp;Register
    </button>
  </fieldset>
  <div class="already-have-login">
    <a routerLink="/login">I already have a login</a>
  </div>
</form>
