<label for="typeahead-basic">
  {{ text }}<br />
  <app-image
    *ngIf="imageLink"
    [target]="imageLink"
    class="question-image"
    imgStyle="width: 50px; border-radius: 5px;"
  ></app-image>
  <small
    >Point value for each correct answer: {{ getPointValue() || "??" }}</small
  >&nbsp; <br class="d-md-none" /><small
    >(Average winnings: {{ getAverageValue() }})</small
  >&nbsp;<br class="d-md-none" />
  <small>Maximum number of guesses: {{ countOfAnswers }}</small>
  <ng-template [ngIf]="isQuestionClosed()">
    &nbsp;<br />
    <small>This question is closed.</small>
    <br />
    <small
      >Correct Answers:
      {{ getQuestion()?.correctAnswers?.join(", ") || "None yet." }}</small
    >
  </ng-template>
</label>
<input
  id="typeahead-basic"
  type="search"
  class="form-control"
  [(ngModel)]="value"
  (selectItem)="updateAnswer($event)"
  (keydown.enter)="updateAnswer()"
  (keydown.escape)="value = ''"
  [ngbTypeahead]="search"
  (focus)="focus$.next($event.target.value)"
  (click)="click$.next($event.target.value)"
  #instance="ngbTypeahead"
  [disabled]="!isEnabled()"
  [placeholder]="
    isQuestionClosed()
      ? ''
      : isEnabled()
      ? randomPlaceholder
      : 'Settle down, ... or remove an answer'
  "
  [resultTemplate]="isColors ? colorResultTemplate : null"
/>

<ng-template #colorResultTemplate let-r="result" let-t="term">
  <span
    class="color-square"
    [ngStyle]="{ 'background-color': r }"
    style="margin-right: 10px;"
  ></span>
  <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
</ng-template>

<ng-template ngFor let-answer [ngForOf]="selectedAnswers">
  <div>
    <span
      class="badge"
      (click)="removeAnswer(answer)"
      [class.badge-success]="
        getQuestion()?.correctAnswers &&
        getQuestion()?.correctAnswers?.indexOf(answer) > -1
      "
      [class.badge-primary]="!isQuestionClosed()"
      [class.badge-secondary]="isQuestionClosed()"
    >
      <app-image
        *ngIf="images.getPerson(answer)"
        [target]="images.getPerson(answer)"
        imgStyle="max-width: 30px; border-radius: 3px;"
      ></app-image>
      <span
        class="color-square"
        *ngIf="isColors"
        [ngStyle]="{ 'background-color': answer }"
      ></span>
      {{ answer }}
      <i *ngIf="isAdmin() || !isQuestionClosed()" class="fas fa-trash"></i>
    </span>
  </div>
</ng-template>

<div class="admin-tools" *ngIf="getQuestion() && isAdmin()">
  <div>
    Set enabled:
    <input
      type="checkbox"
      [(ngModel)]="getQuestion().enabled"
      (change)="updateQuestion()"
    />
  </div>
  <div>
    Set point value:
    <input
      type="number"
      [(ngModel)]="getQuestion().pointValue"
      (change)="updateQuestion()"
    />
  </div>
  <div>
    Set Likely Number of Correct Answers:
    <input
      type="number"
      [(ngModel)]="getQuestion().likelyCorrectCount"
      (change)="updateQuestion()"
    />
  </div>
  <div>Set correct answers:</div>
  <div *ngFor="let pa of possibleAnswers">
    <span
      class="badge"
      [ngClass]="correctAnswers.has(pa) ? 'badge-success' : 'badge-danger'"
      (click)="toggleCorrectAnswer(pa)"
      >{{ pa }}</span
    >
  </div>
</div>
