<div *ngIf="loading; else notLoading" class="d-flex justify-content-center">
  <div
    class="spinner-border"
    style="width: 12rem; height: 12rem;"
    role="status"
  ></div>
</div>

<ng-template #notLoading>
  <app-section
    title="When is the First Presidency speaking?"
    [isOpen]="openPanel === 'firstPresidency'"
    (click)="toggelOpenPanel($event, 'firstPresidency')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'firstPresidency'">
    <app-question
      text="In which session(s) is President Russell M. Nelson speaking?"
      id="1"
      answerType="typeahead"
      [answers]="answersService.conferenceSessions()"
      [countOfAnswers]="3"
    ></app-question>

    <app-question
      text="In which session(s) is President Dallin H. Oaks speaking?"
      id="2"
      answerType="typeahead"
      [answers]="answersService.conferenceSessions()"
      [countOfAnswers]="2"
    ></app-question>

    <app-question
      text="In which session(s) is President Heny B. Eyring speaking?"
      id="3"
      answerType="typeahead"
      [answers]="answersService.conferenceSessions()"
      [countOfAnswers]="2"
    ></app-question>
  </ng-template>

  <app-section
    title="Who's Conducting?"
    [isOpen]="openPanel === 'whosConducting'"
    (click)="toggelOpenPanel($event, 'whosConducting')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'whosConducting'">
    <app-question
      text="In which sessions(s) is President Russell M. Nelson conducting?"
      id="11"
      answerType="typeahead"
      [answers]="answersService.conferenceSessions()"
      [countOfAnswers]="2"
    ></app-question>

    <app-question
      text="In which session(s) is President Dallin H. Oaks conducting?"
      id="12"
      answerType="typeahead"
      [answers]="answersService.conferenceSessions()"
      [countOfAnswers]="3"
    ></app-question>

    <app-question
      text="In which session(s) is President Heny B. Eyring conducting?"
      id="13"
      answerType="typeahead"
      [answers]="answersService.conferenceSessions()"
      [countOfAnswers]="3"
    ></app-question>
  </ng-template>

  <app-section
    title="When are the Apostles Speaking?"
    [isOpen]="openPanel === 'apostlesSpeaking'"
    (click)="toggelOpenPanel($event, 'apostlesSpeaking')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'apostlesSpeaking'">
    <app-question
      text="Which Apostle(s) are speaking in the Saturday Morning Session?"
      id="21"
      answerType="typeahead"
      [answers]="answersService.apostles()"
      [countOfAnswers]="3"
    ></app-question>
    <app-question
      text="Which Apostle(s) are speaking in the Saturday Afternoon Session?"
      id="22"
      answerType="typeahead"
      [answers]="answersService.apostles()"
      [countOfAnswers]="3"
    ></app-question>
    <app-question
      text="Which Apostle(s) are speaking in the Sunday Morning Session?"
      id="23"
      answerType="typeahead"
      [answers]="answersService.apostles()"
      [countOfAnswers]="3"
    ></app-question>
    <app-question
      text="Which Apostle(s) are speaking in the Sunday Afternoon Session?"
      id="24"
      answerType="typeahead"
      [answers]="answersService.apostles()"
      [countOfAnswers]="3"
    ></app-question>
  </ng-template>

  <app-section
    title="Auxiliaries and Seventies"
    [isOpen]="openPanel === 'auxAndSeventies'"
    (click)="toggelOpenPanel($event, 'auxAndSeventies')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'auxAndSeventies'">
    <app-question
      text="Who of the Quorums of the Seventies will be speaking in any session? (Pick ten)"
      id="31"
      answerType="typeahead"
      [answers]="answersService.seventies()"
      [countOfAnswers]="10"
    ></app-question>
    <app-question
      text="Who of the Presidency of the Seventy will be speaking in any session?"
      id="32"
      answerType="typeahead"
      [answers]="answersService.presidencyOfTheSeventy()"
      [countOfAnswers]="2"
    ></app-question>
    <app-question
      text="Who of the Presiding Bishopric will be speaking in any session?"
      id="38"
      answerType="typeahead"
      [answers]="answersService.presidingBishopric()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="Who of the Relief Society Presidency will be speaking in any session?"
      id="33"
      answerType="typeahead"
      [answers]="answersService.reliefSocietyPresidency()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="Who of the Young Men Presidency will be speaking in any session?"
      id="34"
      answerType="typeahead"
      [answers]="answersService.youngMensPresidency()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="Who of the Young Women Presidency will be speaking in any session?"
      id="35"
      answerType="typeahead"
      [answers]="answersService.youndWomensPresidency()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="Who of the Sunday School Presidency will be speaking in any session?"
      id="36"
      answerType="typeahead"
      [answers]="answersService.sundaySchoolPresidency()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="Who of the Primary Presidency will be speaking in any session?"
      id="37"
      answerType="typeahead"
      [answers]="answersService.primaryPresidency()"
      [countOfAnswers]="1"
    ></app-question>
  </ng-template>

  <app-section
    title="Hymns and the Choir"
    [isOpen]="openPanel === 'hymnsAndChoir'"
    (click)="toggelOpenPanel($event, 'hymnsAndChoir')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'hymnsAndChoir'">
    <app-question
      text="Which hymns will be sung in any session? (Pick ten)"
      id="41"
      answerType="typeahead"
      [answers]="answersService.hymnsAndSongs()"
      [countOfAnswers]="10"
    ></app-question>

    <app-question
      text="What colors will the choir be wearing Saturday Morning Session? (Dresses, Suits or Ties)"
      id="42"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="2"
    ></app-question>
    <app-question
      text="What colors will the choir be wearing Saturday Afternoon Session? (Dresses, Suits or Ties)"
      id="43"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="2"
    ></app-question>
    <app-question
      text="What colors will the choir be wearing General Women's Session? (Dresses)"
      id="44"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="2"
    ></app-question>
    <app-question
      text="What colors will the choir be wearing Sunday Morning Session? (Dresses, Suits or Ties)"
      id="45"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="2"
    ></app-question>
    <app-question
      text="What colors will the choir be wearing Sunday Afternoon Session? (Dresses, Suits or Ties)"
      id="46"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="2"
    ></app-question>
  </ng-template>

  <app-section
    title="Tie Colors"
    [isOpen]="openPanel === 'tieColors'"
    (click)="toggelOpenPanel($event, 'tieColors')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'tieColors'">
    <app-question
      text="What will President Russell M. Nelson's tie color be in the Saturday Morning Session?"
      id="51"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Russell M. Nelson's tie color be in the Saturday Afternoon Session?"
      id="52"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Russell M. Nelson's tie color be in the Sunday Morning Session?"
      id="53"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Russell M. Nelson's tie color be in the Sunday Afternoon Session?"
      id="54"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>

    <app-question
      text="What will President Dallin H. Oaks's tie color be in the Saturday Morning Session?"
      id="55"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Dallin H. Oaks's tie color be in the Saturday Afternoon Session?"
      id="56"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Dallin H. Oaks's tie color be in the Sunday Morning Session?"
      id="57"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Dallin H. Oaks's tie color be in the Sunday Afternoon Session?"
      id="58"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>

    <app-question
      text="What will President Heny B. Eyring's tie color be in the Saturday Morning Session?"
      id="59"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Heny B. Eyring's tie color be in the Saturday Afternoon Session?"
      id="60"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Heny B. Eyring's tie color be in the Sunday Morning Session?"
      id="61"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
    <app-question
      text="What will President Heny B. Eyring's tie color be in the Sunday Afternoon Session?"
      id="62"
      answerType="typeahead"
      [answers]="answersService.colors()"
      [countOfAnswers]="1"
    ></app-question>
  </ng-template>

  <app-section
    title="New Temple Locations"
    [isOpen]="openPanel === 'newTempleLocations'"
    (click)="toggelOpenPanel($event, 'newTempleLocations')"
  ></app-section>

  <ng-template [ngIf]="openPanel === 'newTempleLocations'">
    <app-question
      text="In which states in the U.S.A. will new temples be built?"
      id="71"
      answerType="typeahead"
      [answers]="answersService.usaStates()"
      [countOfAnswers]="5"
    ></app-question>

    <app-question
      text="In which countries will new temples be built? (Not including U.S.A.)"
      id="72"
      answerType="typeahead"
      [answers]="answersService.countriesNotAmerica()"
      [countOfAnswers]="5"
    ></app-question>
  </ng-template>

  <app-chat></app-chat>
  <app-scoreboard></app-scoreboard>
</ng-template>
