<div class="editor-container">
  <div>
    <img
      *ngIf="finalImage; else existingProfileImage"
      [src]="finalImage || '/assets/profile.png'"
      style="width: 100px; border-radius: 5px;"
    />

    <ng-template #existingProfileImage>
      <app-image
        [target]="
          authService.getCurrentUser().hasProfileImage
            ? '/api/user/profile/' + authService.getCurrentUser().id
            : '/assets/profile.png'
        "
        imgStyle="width: 100px; border-radius: 5px;"
      ></app-image>
    </ng-template>
  </div>

  <div class="edit-buttons" style="margin-left: 24px;">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="fileInput.click()"
      [disabled]="loading"
    >
      {{ !!finalImage ? "Pick File" : "Set Profile Picture" }}
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
      accept="image/*"
    />

    <ng-template [ngIf]="finalImage">
      <button
        type="button"
        class="btn btn-outline-dark"
        style="margin-left: 8px; margin-right: 8px;"
        (click)="rotate()"
        [disabled]="loading"
      >
        Rotate
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="upload()"
        [disabled]="loading"
      >
        Upload
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        style="margin-left: 8px;"
        (click)="cancel()"
        [disabled]="loading"
      >
        Cancel
      </button>
    </ng-template>
  </div>
</div>

<div *ngIf="loading" class="text-center" style="margin-top: 50px;">
  <div
    class="spinner-border"
    style="width: 12rem; height: 12rem;"
    role="status"
  ></div>
</div>

<div id="cropperjs-holder"></div>
