<label for="typeahead-basic">
  {{ text }}<br />
  <small
    >Point value for each correct answer: {{ getPointValue() || "??" }} (Average
    winnings: {{ getAverageValue() }})</small
  >&nbsp;<br class="d-md-none" />
  <small>Maximum number of guesses: {{ countOfAnswers }}</small>
  <ng-template [ngIf]="isQuestionClosed()">
    &nbsp;<br class="d-md-none" />
    <small>This question is closed.</small>
    <br />
    <small
      >Correct Answers:
      {{ question?.correctAnswers?.join(", ") || "None yet." }}</small
    >
  </ng-template>
</label>
<input
  id="typeahead-basic"
  type="search"
  class="form-control"
  [(ngModel)]="value"
  (selectItem)="updateAnswer($event)"
  (keydown.enter)="updateAnswer()"
  (keydown.escape)="value = ''"
  [ngbTypeahead]="search"
  (focus)="focus$.next($event.target.value)"
  (click)="click$.next($event.target.value)"
  #instance="ngbTypeahead"
  [disabled]="!isEnabled()"
  [placeholder]="isQuestionClosed() ? '' : randomPlaceholder"
/>

<ng-template ngFor let-answer [ngForOf]="selectedAnswers">
  <div>
    <span
      class="badge"
      (click)="removeAnswer(answer)"
      [class.badge-success]="question?.correctAnswers?.indexOf(answer) > -1"
      [class.badge-primary]="!isQuestionClosed()"
      [class.badge-secondary]="isQuestionClosed()"
    >
      {{ answer }}
      <i *ngIf="isAdmin() || !isQuestionClosed()" class="fas fa-trash"></i>
    </span>
  </div>
</ng-template>

<div class="admin-tools" *ngIf="question && isAdmin()">
  <div>
    Set enabled:
    <input
      type="checkbox"
      [(ngModel)]="question.enabled"
      (change)="updateQuestion()"
    />
  </div>
  <div>
    Set point value:
    <input
      type="number"
      [(ngModel)]="question.pointValue"
      (change)="updateQuestion()"
    />
  </div>
  <div>
    Set Likely Number of Correct Answers:
    <input
      type="number"
      [(ngModel)]="question.likelyCorrectCount"
      (change)="updateQuestion()"
    />
  </div>
  <div>Set correct answers:</div>
  <div *ngFor="let pa of possibleAnswers">
    <span
      class="badge"
      [ngClass]="correctAnswers.has(pa) ? 'badge-success' : 'badge-danger'"
      (click)="toggleCorrectAnswer(pa)"
      >{{ pa }}</span
    >
  </div>
</div>
