:host
  display: flex
  justify-content: space-between
  border-bottom: 1px solid black
  margin-bottom: 15px

img
  max-height: 50px

p
  font-family: 'Great Vibes', cursive
  font-size: 36px

.right-side
  display: flex
  justify-content: space-between
  align-items: center
  cursor: pointer

  .logout
    margin-right: 5px

  &:not(:hover) .logout
    display: none


  .autheticated-user
    margin-right: 5px
    text-align: center

    .username
      font-size: 25px

    .family-name
      font-size: 15px
