<ngb-alert *ngIf="isAppBrowser" type="warning" [dismissible]="false">
  <p>
    It appears you are using an app browser (like Facebook or Twitter instead of
    Chrome or Safari).
  </p>
  <p>
    This is fine, but not recommended. Your user will be limited to this browser
    and you will need to navigate to fantasygc.org from the app browser
    (Facebook or Twitter) in order to login again.
  </p>
  <p>
    Long press this link:
    <a href="//fantasygc.org">fantasygc.org</a>
    and click "Open in Chrome" or "Open in Safari"
  </p>
  <div class="open-in-images">
    <img src="/assets/open-in-chrome.png" />
    <img src="/assets/open-in-safari.png" />
  </div>
</ngb-alert>

<ngb-alert *ngIf="isPrivateMode" type="warning" [dismissible]="false">
  <p>It appears you are in incognito mode or private mode.</p>
  <div>
    This is not recommended. Your user will be forgotten when you close your
    browser and you may not be able to recover it.
  </div>
</ngb-alert>

<div *ngIf="loading; else state" class="text-center" style="margin-top: 50px;">
  <div
    class="spinner-border"
    style="width: 12rem; height: 12rem;"
    role="status"
  ></div>
</div>

<div *ngIf="serverError" class="alert alert-danger">
  Something seems to have gone wrong. We're working on it. Try
  <a href="/">refreshing the page</a>.
</div>

<ng-template #state>
  <div *ngIf="isStateUnknown()">
    <p class="fade-in-0"><b>Welcome to Fantasy General Conference.</b></p>
    <p class="fade-in-1">Here's how you play:</p>
    <p class="fade-in-2">
      It is pretty easy. Pick a name and your family name. Then you will guess
      who will be speaking and what color tie they will be wearing, etc.
    </p>
    <p class="fade-in-3">
      When General Conference starts, some of the questions will lock and you
      will no longer be able to put in guesses. If you guessed correctly, you
      will get points. The person or family (also called a team) with the most
      points wins.
    </p>
    <p class="fade-in-4">
      <b>Pro Tip:&nbsp;</b>Some of the questions will still be open in between
      sessions.
    </p>
  </div>
  <div *ngIf="isStateMetButUnauthenticated()" class="fade-in-0">
    <p class="fade-in-0">Welcome back!</p>
  </div>
  <div *ngIf="isStateKnown()" class="fade-in-0">
    <p class="fade-in-0">Welcome back!</p>
  </div>

  <div *ngIf="!showRegisterUser && isStateMetButUnauthenticated()">
    <div *ngIf="authService.getUsers()?.length" class="fade-in-1">
      <div *ngFor="let userGroup of userGroups" class="family-group">
        <h1 class="family-name" *ngIf="userGroup.familyName">
          {{ userGroup.familyName }}
        </h1>
        <div class="family-row">
          <div
            (click)="login(user)"
            class="user"
            *ngFor="let user of userGroup.users"
          >
            <app-image
              [target]="
                user?.hasProfileImage
                  ? '/api/user/profile/' + user.id
                  : '/assets/profile.png'
              "
              imgStyle="width: 50px; border-radius: 5px;"
            ></app-image>
            <div class="user-name">{{ user?.name }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="fade-in-2" style="margin-top: 12px;">
      <a (click)="this.showRegisterUser = true">
        <button type="button" class="btn btn-outline-dark" [disabled]="loading">
          Create a New User
        </button>
      </a>
    </div>
  </div>

  <div *ngIf="showRegisterUser" class="fade-in-1">
    <form (ngSubmit)="registerUser()" novalidate>
      <fieldset [disabled]="loading">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="name"
            (input)="clearWarning()"
            autocomplete="name"
            placeholder="What should I call you?"
          />
          <small class="form-text text-muted"
            ><app-valid-text
              [valid]="nameValid()"
              text="Must be 2 characters long."
            ></app-valid-text>
          </small>
        </div>
        <div class="form-group">
          <label for="family">Family Name (Team Name)</label>
          <input
            type="search"
            class="form-control"
            id="family"
            name="family"
            [(ngModel)]="family"
            (input)="clearWarning()"
            placeholder="What does your group want to be called?"
            autocomplete="off"
            [ngbTypeahead]="searchFamilies"
          />
          <small class="form-text text-muted"
            ><app-valid-text
              [valid]="familyValid()"
              text="Must be 4 characters long."
            ></app-valid-text>
          </small>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formValid() || loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
          ></span
          >&nbsp;Create User and Start Playing
        </button>
      </fieldset>
    </form>

    <div
      *ngIf="authService.getUsers()?.length"
      class="fade-in-2"
      style="margin-top: 12px;"
    >
      <a (click)="this.showRegisterUser = false; this.clearWarning()">
        <button type="button" class="btn btn-outline-dark" [disabled]="loading">
          Login as existing user
        </button>
      </a>
    </div>
  </div>
</ng-template>

<ngb-alert *ngIf="warning" type="warning" [dismissible]="false">
  <p>{{ warning }}</p>

  <ng-template [ngIf]="warning === 'Username already taken!'">
    <div *ngIf="!expandThisIsMe">
      <button class="btn btn-outline-dark" (click)="yesThisIsMe()">
        Yeah, this is me.
      </button>
    </div>
    <div *ngIf="expandThisIsMe === 'loading'">
      <span class="spinner-border spinner-border-sm" role="status"></span>
    </div>
    <div *ngIf="expandThisIsMe === 'ready'">
      <p>
        If you have access to your other browser or device, (maybe you opened
        this page via Facebook or Twitter instead of Chrome or Safari) then you
        can generate a recovery code by clicking on the Tabernacle Organ. Then
        click Get Recovery Code.<br />
        It will look like this:<br />

        <img class="recovery-img" src="/assets/recovery.png" />
      </p>
      <div class="form-group recovery-code-wrapper">
        <label for="recoveryCode">I have a Recovery Code:</label>
        <div class="input-group">
          <input
            type="search"
            class="form-control recovery-code"
            id="recoveryCode"
            name="recoveryCode"
            [(ngModel)]="recoveryCode"
            placeholder="______"
            autocomplete="off"
            [disabled]="recoveryCodeLoading"
            (keyup.enter)="recoverWithCode()"
          />
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-outline-secondary"
              [disabled]="recoveryCodeLoading"
              (click)="recoverWithCode()"
            >
              Recover
            </button>
          </div>
        </div>
        <small class="form-text text-muted"
          ><app-valid-text
            [valid]="recoveryCodeValid()"
            text="Must be 6 characters long."
          ></app-valid-text>
        </small>

        <span
          *ngIf="recoveryCodeLoading"
          class="spinner-border spinner-border-sm"
          role="status"
        ></span>

        <b *ngIf="recoveryCodeFailed">That code didn't do it.</b>
      </div>

      <button
        *ngIf="!showNoRecoveryCode"
        type="button"
        class="btn btn-outline-secondary"
        (click)="showNoRecoveryCode = true"
      >
        I do not have a recovery code.
      </button>
      <div *ngIf="showNoRecoveryCode">
        <p>
          If you cannot get a recovery code, explain when you logged in last,
          what device you were using (was it this one?) and how you heard about
          us, then click Request Help Logging In.
        </p>
        <ng-template [ngIf]="!recoveryCommentSent">
          <div class="form-group">
            <textarea
              class="form-control"
              [(ngModel)]="recoveryComment"
            ></textarea>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="addRecoveryComment()"
            *ngIf="recoveryComment"
          >
            Request Help Logging In
          </button>
        </ng-template>
        <span
          *ngIf="recoveryCommentLoading"
          class="spinner-border spinner-border-sm"
          role="status"
        ></span>
        <ng-template [ngIf]="recoveryCommentSent"
          ><b>Request Sent. Try this page again in 30 minutes.</b></ng-template
        >
      </div>
    </div>
  </ng-template>
</ngb-alert>
