:host {
}

marquee {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.left-side {
  display: flex;
}

.profile-picture {
}

.fixed-header {
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid black;
  margin-bottom: 16px;
  padding-right: 16px;

  background: linear-gradient(
    270deg,
    #5afaff,
    #ffffff,
    #ff96fd,
    #7afcbb,
    #ffb96f
  );
  background-size: 1000% 1000%;

  animation: ScrollGradient 9s ease infinite;

  @keyframes ScrollGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

header {
  height: 54px;
  visibility: hidden;
}
