<div class="fixed-header">
  <marquee behavior="scroll" direction="left"
    >Fantasy General Conference</marquee
  >

  <div class="right-side">
    <a (click)="openModal(modalContent)">
      <img src="assets/logo-small.png" />
    </a>
  </div>
</div>
<header></header>

<ng-template #aboutContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">About FantasyGC.org</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-left">
      <p>
        FantasyGC.org is an game loosely based on various fantasy sports.
        FantasyGC.org is not affiliated with the Church of Jesus Christ of
        Latter-day Saints. The goal of FantasyGC.org is to provide a fun,
        slightly competitive learning experience for members while watching the
        General Conference of the Church of Jesus Christ of Latter-day Saints.
      </p>
      <p>
        FantasyGC.org is distributed in the hope that it will be useful, but
        WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
        <a href="https://www.gnu.org/licenses/">GNU General Public License</a>
        for more details.
      </p>
      <p>
        Written and maintained by Bryce J. Fisher and a wonderful development
        team. Copyright &copy; 2018-2020 Bryce J. Fisher
      </p>
    </div>
  </div>
</ng-template>

<ng-template #modalContent let-modal>
  <div class="modal-body">
    <div class="text-right">
      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
      >
        <span>&times;</span>
      </button>
    </div>
    <form (ngSubmit)="modal.dismiss('Form submit')" novalidate>
      <div class="form-group profile-picture">
        <label for="name">My Profile Picture</label>
        <div>
          <app-profile-image-editor></app-profile-image-editor>
        </div>
      </div>

      <div class="form-group">
        <label for="name">My Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="name"
          autocomplete="name"
          (change)="updateUserSubject.next()"
        />
        <small class="form-text text-muted"
          ><app-valid-text
            [valid]="nameValid()"
            text="Must be 2 characters long."
          ></app-valid-text>
        </small>
      </div>

      <div class="form-group">
        <label for="family">My Family Name (Team Name)</label>
        <input
          type="search"
          class="form-control"
          id="family"
          name="family"
          [disabled]="!canChangeFamily"
          [(ngModel)]="family"
          autocomplete="off"
          [ngbTypeahead]="searchFamilies"
          (change)="updateUserSubject.next()"
        />
        <small class="form-text text-muted"
          ><app-valid-text
            [valid]="familyValid()"
            text="Must be 4 characters long."
          ></app-valid-text>
        </small>
      </div>

      <ngb-alert *ngIf="getWarning()" type="warning" [dismissible]="false">
        {{ warning }}
      </ngb-alert>

      <ngb-alert *ngIf="recoveryCode" type="warning" [dismissible]="false">
        <p class="recovery-code">{{ recoveryCode }}</p>
        Use this code to login on another device or browser. <br />
        It is valid for a half hour.
      </ngb-alert>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="getRecoveryCode()"
    >
      Get Recovery Code
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="openAbout(aboutContent)"
    >
      About FantasyGC
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="logout(modal)">
      Switch Users
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
