<h3 *ngIf="userCount">People playing: {{ userCount }}</h3>

<ng-template [ngIf]="usernames">
  <div *ngFor="let username of usernames">
    {{ username }}
  </div>
</ng-template>

<div class="row">
  <div class="col-12 col-md-6">
    <h1 *ngIf="userScores.length">Top Users</h1>
    <p *ngFor="let score of userScores">
      <b>{{ score.name }}</b> {{ score.value }}
    </p>
  </div>
  <div class="col-12 col-md-6">
    <h1 *ngIf="familyScores.length">Top Families</h1>
    <p *ngFor="let score of familyScores">
      <b>{{ score.name }}</b> {{ score.value }}
    </p>
  </div>
</div>
